@charset "ISO-8859-1";

div.outer_wrapper {
	margin: auto;
	width: 90%;
	border: 3px solid green;
	padding: 10px;
	overflow: auto;
}

hr.partition {
	height: 2px;
	color: green;
}

h1.heading {
	font-size: 50px;
	vertical-align: middle;
	text-align: center;
}

table.table_wrapper {
	width: 100%;
	font-size: 20px;
	border-collapse: collapse;
}

.validationError {
	color: red;
	font-style: italic;
}