<!DOCTYPE html>

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	
	<head>
		<title>Taskana</title>
		<link rel="stylesheet" th:href="@{/css/home_tasks.css}"/>
	</head>
	
	<body>
		<div class="outer_wrapper">
			<h1 class="heading">
				Taskana
			</h1>
			
			<hr class="partition">
		
			<div class="table_outer_wrapper">
				<table class="table_wrapper">
				
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Description</th>
						<th>AssignedTo</th>
						<th>AssignedBy</th>
						<th>Status</th>
						<th>AssignedOn</th>
						<th>Deadline</th>
					</tr>
				
					<tr th:each = "taskDTO : ${employeeDTO.tasks}">
						<td th:text="${taskDTO.id}"></td>
						<td th:text="${taskDTO.title}"></td>
						<td th:text="${taskDTO.description}"></td>
						<td th:text="${taskDTO.assignedTo}"></td>
						<td th:text="${taskDTO.assignedBy}"></td>
						<td th:text="${taskDTO.status}"></td>
						<td th:text="${taskDTO.assignedOn}"></td>
						<td th:text="${taskDTO.deadline}"></td>
					</tr>
				</table>
			</div>
			
			<br/>
			
			<a th:href="@{/employees}">Home</a>
			
		</div>
	</body>

</html>